body {
  background :pink;/*added a colon*/
}

h1 {
  color: blue;
  font-size: 3em; /*fontsize is not ccs propert*/
}

h2 {
  color: green;
  font-weight: normal;/*added semicolon*/
  font-style: italic;
}

.completed {
  font-size: 12px;
}

#tasks .completed {
  background : #ccc;
  text-decoration: underline;
}